:root{
/* Primary */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
/* Neutral */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
    background-image: url("images/pattern-background-desktop.svg");
    background-position: top;
    background-repeat: no-repeat;
}

main{
    margin: 0 auto;
    width: 450px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.main-img img {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

main h1 {
    text-align: center;
    margin: 45px 0 20px 0;
    color: var(--Dark-blue);
    font-size: 28px;
    font-weight: 900;
}

main p {
    width: 300px;
    text-align: center;
    color: var(--Desaturated-blue);
}

.order {
    margin: 20px 0;
    background-color: var(--Very-pale-blue);
    padding: 30px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 345px;
    border-radius: 10px;
    position: relative;
}

.Plan {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50% , -50%);
}

.Plan h4 {
    color: var(--Dark-blue);
}

.Plan span {
    color: var(--Desaturated-blue);
}

.change a {
    color: var(--Bright-blue);
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50% , -50%);
}

.change a:hover {
    text-decoration: none;
    opacity: 75%;
}

main button {
    background-color: var(--Bright-blue);
    padding: 20px;
    width: 345px;
    border-radius: 10px;
    border: 0;
    color: var(--Very-pale-blue);
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    box-shadow: -1px 9px 26px 0px rgba(56,41,224,0.37);
    -webkit-box-shadow: -1px 9px 26px 0px rgba(56,41,224,0.37);
    -moz-box-shadow: -1px 9px 26px 0px rgba(56,41,224,0.37);}
main button:hover {
    opacity: 75%;
}

main .cancel {
    margin-top: 25px;
    margin-bottom: 30px;
    color: var(--Desaturated-blue);
}

main .cancel a {
    font-size: 16px;
    color: var(--Desaturated-blue);
    font-weight: 700;
    text-decoration: none;
}

main .cancel a:hover {
    color: var(--Dark-blue);
}

@media (max-width: 412px) {
    main{
        width: 340px;
        margin: 0 auto;
    }

    .order {
        width: 290px;
    }

    .Plan {
        left: 50%;
    }

    main button {
        width: 290px;
    }
}